@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
       var db= Database.Open("StarterSite");
    var Grid = new WebGrid(db.Query("SELECT TaskName,TaskType,eta,TaskState from TaskData where OwnerID= 'nileshpot@yahoo.com' "));

    

}
 <div class="table-responsive">
                              
@{
string str =  @Grid.Table("table-hover").ToHtmlString();
string str1 = "Nilesh";
Console.Write(str);
}
     
    
 @Grid.Table("table table-striped table-bordered table-hover")    

</div>


 <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Kitchen Sink
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>nn</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>nn</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>nn</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>


<h3>We suggest the following:</h3>